body {
  width: 100%;
  height: 100vh;
  background-color: #1f1e1e;
  text-align: center;
  position: relative;
  margin: 10px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.App-header {
  margin-top: 100px;
  font-size: 24px;
}

.btn{
  display:inline-block;
  padding: 10px;
  margin-bottom: 60px;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  background: rgb(0, 128, 68);
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
}

.btn:hover{
  border-color: rgba(255,255,255,1);
  cursor: pointer;
}

.author {
  font-style: italic
}

.bubble {
position: absolute;
width: 250px;
height: auto;
min-height: 100px;
padding: 20px;
background: #008044FF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #619A65 solid 4px;
font-style: italic;
display:inline-block;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #008044FF;
display: block;
width: 0;
z-index: 1;
left: -15px;
top: 45px;
}

.bubble:before {
content: '';
position: absolute;
border-style: solid;
border-width: 18px 18px 18px 0;
border-color: transparent #619A65;
display: block;
width: 0;
z-index: 0;
left: -22px;
top: 42px;
}

img {
  max-height: 165px;
  position: relative;
  right: 50px;
}

.pic-bubble {
  margin-left: -200px;
}


